* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 95%;
}

body {
    font-family:'Times New Roman', Times, serif;
}

@font-face {
  font-family: 'SweetieSummer';
  src: url('Fonts/Sweetie Summer.ttf') format('truetype'); /* or 'opentype' for .otf */
}

header {
    background-color: #fda6b4;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.3rem;
    z-index: 1000;
}

header > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-text {
    justify-content: flex-start;
}

#nav {
    justify-content: center;
}

#cart-details {
    justify-content: flex-end;
    font-size: 0.9rem;
}

h1 {
    font-family: 'SweetieSummer', cursive;
    color: white;
    margin: 0;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
    padding: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

#body {
    margin-top: 4.5rem;
}

#add {
    background-color: rgb(253, 166, 180);
    color: white;
    border-radius: 2rem;
    height: 3.5rem;
    border: pink;
}

#add:hover, .add:hover {
        background-color: rgba(253, 166, 180, 0.829);
}

#product-card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#product-card {
    margin-top: 7rem;
}

#reviews, #more {
    margin-top: 5.5rem;
}

#read-more:hover {
    text-decoration: underline;
    cursor: pointer;
}

.review-box {
    padding: 1.5rem 2rem;
    border: #fda6b4 2px solid;
    margin: 0.5rem;
    border-radius: 2rem;
}

.product-listing {
    padding: 1.5rem 2rem;
    border: #fda6b4 2px solid;
    margin: 0.5rem;
    border-radius: 2rem;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
    flex: 1;
    
}

button {
    width: 100%;
    padding: 0.25rem;
    margin: 0.1rem;
    border-radius: 2rem;
    height: 3.5rem;
    border: #fda6b4 3px solid;

}

.add {
    background-color: #fda6b4;
    color: white;
}

button:hover {
    background-color: #fda6b4c5;
    
}

footer {
    margin-top: 5rem;
    background-color: #fda6b4;
    padding: 0.5rem;
    font-weight: bold;
    color: white;
}

footer ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}